---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---


{% include base_path %}

<!-- Introduction Section -->
<h2>About My Research</h2>
<p>
  
My current research focus is on building robust and reliable machine learning models. During my PhD, i have developed frameworks to evaluate trustworthiness of binary classifiers for decision making and doing inference respectively. 
I am currently working on building hypothesis testing and learning methods that can deal with noisy data. 
</p>
<hr />

<!-- Publications Section -->
<h2>Articles (Journals, Conferences, and Preprints)</h2>
<hr />

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% for post in site.publications reversed %}
  <div class="publication-entry">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p><strong>Venue:</strong> 
      {% if post.status == "published" %}
        Published in {{ post.venue }}
      {% elsif post.status == "to_appear" %}
        To appear in {{ post.venue }}
      {% elsif post.status == "arxiv" %}
        <a href="{{ post.arxiv_link }}">arXiv preprint</a>
      {% else %}
        {{ post.venue }}
      {% endif %}
    </p>
    <p><strong>Excerpt:</strong> {{ post.excerpt | strip_html }}</p>
    <p><a href="{{ post.url }}">Read more...</a></p>
    <hr />
  </div>
{% endfor %}
